body{
    background-image:url("../images/Grand_Staircase.jpg");
    background-repeat: no-repeat;
    background-size: 2100px;
    font-family: 'Courgette', cursive;
}

.main{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.content-box{
    margin-top: 50px;
    height: 450px;
}
.heading{
    text-align: center;
}
#timer-text{
    text-align: center;
    display: block;
    padding: 15px;
    
}
#content{
    padding: 15px;
    text-align: center;
}

